#titulo{
	font-size: 80px;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
}
#subtitulo{
	margin-top: 15px;
	margin-bottom: 0;
    font-size: 50px;
    text-align: center;
}
body{
	background-image: url(img/fondo\ gato.jpg);
	background-size: cover;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
  }
  
  .submenu {
	float: left;
	display: inline;
	text-decoration: none;
	font-size: 16px;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: #111;
  }
  .activado {
	background-color: #ffffff;
	color: #111;
  }
  .activado:hover{
	background-color: #d1d1d1;
	color: #111;
  }
#inicio{
    background-color: rgba(255, 255, 255, 0.493);
    padding-top: 30px;
	padding-bottom: 30px;
    margin-top: 20%;

}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ffffff;
  color: #111;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #111;
  color: #f2f2f2;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-right:auto;
  margin-left: auto;
  margin-top: 4%;
  width: 400px;
  padding: 20px;
}
#textoform{
	text-align: center;
	font-size: 40px;
}
#divform{
	background-color: rgba(255, 255, 255, 0.493);
  padding-top: 10px;
	padding-bottom: 10px;
  margin-top: 5%;
}
#mapa{
  margin-left: 35%;
  margin-top: 10%;
}